.header {
  background-color: #AB2A19;
  width: 100vw;
  height: 75px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  height: 40px;
  width: 40px;
  margin: 0 25px 0 50px;
}

.header > h1 {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 24px;
  font-weight: 700;
}